.row {
  color: white;
}

.block {
  background-color: #111;
  width: 100%;
  margin-left: auto;
}

.float-container {
  background-color: #333333;
  width: 90%;
  margin: auto;
}

.green {
  width: 80%;
  padding: 20px;
  float: left;
  height: 65vh;
  /* overflow-y: scroll; */
}

.blue {
  width: 20%;
  padding: 20px;
  height: 65vh;
  overflow-y: scroll;
}

.blue::-webkit-scrollbar {
  display: none;
}

.green::-webkit-scrollbar {
  display: none;
}

.friend {
  border: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.bottom {
  background-color: #444444;
  width: 80%;
  height: 50px;
  float: left;
}

.messages {
  width: 100%;
  float: left;
  height: 54vh;
  overflow-y: scroll;
  flex-direction: column-reverse;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.messages > div > div:last-child {
  scroll-snap-align: end;
}

.messages::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  color: white;
}
